<div class="ufo">
  <div>{{dateOfSighting}}</div>
  <div>{{location}}</div>
 
  <img class="img-circle" src="{{image}}" alt="{{location}}">
  <div></div>
  {{!-- Is this empty div being used for styling purposes? --}}
  <div>"{{briefDescription}}"</div>
  <div><i>--{{nameOfPersonReporting}}</i></div>
  {{!-- General rule of thumb is to avoid unnecessary divs. Where possible, use "semantic" HTML elements
  that have inherent meaning, like paragraphs, lists, articles, etc. This is better for accessibility and SEO --}}
  <a href="/edit/{{id}}">Edit</a>
</div>
