<div class="ufo">
   <div>{{dateOfSighting}}</div>
  <div>{{location}}</div>
 
   <img class="img-circle" src="{{image}}" alt="{{location}}">
  <div></div>
   <div>"{{briefDescription}}"</div>
  <div><i>--{{nameOfPersonReporting}}</i></div>
 
  <a href="/edit/{{id}}">Edit</a>
</div>